*.data filter=lfs diff=lfs merge=lfs -text
/Users/matt-barthet/Documents/University[[:space:]]Work/PhD[[:space:]]Work/Affectively-Environments/Builds/MS_SolidRally/Racing_Data/level0 filter=lfs diff=lfs merge=lfs -text
/Users/matt-barthet/Documents/University[[:space:]]Work/PhD[[:space:]]Work/Affectively-Environments/Builds/SolidRally.app/Contents/Resources/Data/level0 filter=lfs diff=lfs merge=lfs -text
