player-connection-mode=Listen
player-connection-guid=559510242
player-connection-debug=0
player-connection-project-name=fps
player-connection-ip=10.60.19.41
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=14eb3d67e06a4ee590d57c2e3621d186
